@model IEnumerable<PartListingServiceModel>
@{
    ViewData["Title"] = "All Parts";
}

<h2>@ViewData["Title"]</h2>

<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var part in Model)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Price.ToString("F2")</td>
                <td>@part.Quantity</td>
                <td>@part.Supplier</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/parts/edit/@part.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>